.custom-height{
    height: 80%;
}

.my-h{
    height: 100px;
}

#newTaskInput::placeholder{
    color: rgb(131, 129, 129);
}


/*------ ON HOVER ------*/
.fas:hover{
    cursor: pointer;
    color: red !important;
}

li:hover{
    cursor: pointer;
    background-color: rgb(66, 65, 65) !important;
}